<h1>
  Convert <%= @first_symbol %> to <%= @second_symbol %>
</h1>

<p>
  1 <%= @first_symbol %> equals <%= @result %> <%= @second_symbol %>.
</p>

<p>
  Go <a href="/forex/<%= @first_symbol %>">back</a>.
</p>
